/* footer-section */
.footer-section {
    padding: 60px 0;
    background-color: var(--dark-bgc);
    &__list {
      display: flex;
      flex-direction: column;
      gap: 60px;
      align-items: center;
      @media (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
      }
      @media (min-width: 1200px) {
        gap: 94px;
      }
    
    }
    &__logo-contact-list {
      display: flex;
      gap: 28px;
      flex-direction: column;
      align-items: center;
      @media (min-width: 1200px) {
      align-items: start;
      }
    }
    
    &__contact-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      @media (min-width: 1200px) {
        align-items: start;
      }
    }
    
    &__address {
      font-style: normal;
    }
    &__social-container{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &__title {
      text-align: center;
      line-height: 1.17;
      font-size: 14px;
      text-transform: uppercase;
      color: var(--white-color);
      @media (min-width: 1200px) {
        text-align: start;
      }
    }
    &__social-list {
      display: flex;
      gap: 10px;
    }
    
    &__social-link {
      @extend %flex-centered;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: var(--white-color-opacity10);
      transition: background-color 250ms var(--timing-function);
      &:hover,
      &:focus {
        background-color: var(--design-color);
      }
    }
    
    &__social-icon {
      fill: var(--white-color);
    }
    
    &__form-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &__form-btn {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @media (min-width: 1200px) {
        flex-direction: row;
      }
    }
    
    &__form {
      position: relative;
    }
    
    &__form-input {
      // знаю що тут має бути ширина 450px за макетом, 
      // але нажаль воно погано відображається на телефонах,
      // враховуючи що від 320 px все має адекватно виглядати, 
      // тому враховуючи падінг контейнера 30px(по 15 з кожної сторони)
      // тому 320-30+290
      width: 290px;
      @media (min-width: 768px) {
        width: 450px;
      }
      @media (min-width: 1200px) {
        width: 358px;
      }
      height: 50px;
      padding: 0 12px 0 79px;
      border: 1px solid var(--white-color-opacity30);
      background-color: transparent;
      outline: none;
      border-radius: 4px;
    }
    
    &__form-label {
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
      color: var(--white-color-opacity60);
      font-size: 16px;
      line-height: 1.25;
    }
    
    &__btn {
      gap: 10px;
    }
    
    &__subscribe-icon {
      fill: var(--white-color);
    }
  }
  
  