.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    transform: translateX(-100%);
    // overflow: hidden;
    transition: transform 250ms var(--timing-function);
    
    &__container{
        padding: 48px 40px;

    }
    &__nav {
        display: flex;
        flex-direction: column;
        gap: 306px;
}
    &__menu {
        display: flex;
        gap: 32px;
        flex-direction: column;
    }

    &__item {
        font-size: 40px;
        color: var(--primary-dark-color); 
    }

    &__link--current {
        color: var(--design-color);
    }

    &__list-contacts {
        display: flex;
        gap: 32px;
        flex-direction: column;
    }

    &__item-contacts:first-child {
        font-size: 34px;
        color: var(--design-color);
    }

    &__item-contacts:last-child {
        margin-bottom: 64px;
        font-size: 24px;
        color: var(--secondary-dark-color);
    }

    &__social {
        display: flex;
    }
    &__social-item {
        font-size: 18px;  
        line-height: 1.22 ;
        color: var(--design-color);
    }

    &__separator {
        color: var(--primary-dark-color-opacity20);
    }
    
    &.is-open {
        transform: translateX(0);
    }
}

